
<% include partials/header.ejs %>

<duv class = 'container'>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Welcome To CourseYelp</h1>
            <p class="lead"></p></p>
            <button class = 'btn btn-success'><a href ='/courses'> View All Courses </a></button>
        </div>
    </div>
</div>





<% include partials/footer.ejs %>